.container {
    max-width: 1170px;
    margin: 0 auto;
}

.row {
    width: 100%;
}

.box {
    width: 100%;
    border: 1px solid white;
    background-color: blue;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 15px;
}

.inner-box {
    width: 100%;
    background-color: green;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid blue;
}

.space {
    height: 50px;
    width: 100%;
    background-color: white;
}